body {
    width: 750px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 10px 0;
    padding-left: 10px;
}
